.ourbenefactors-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1;
  overflow: visible;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 20px auto;
  }

.benefactors-container {
  margin: 10px 0px;
}

.platinum-block {
  display: flex;
  flex-direction: column;
  width: 80%;   
  margin: 0 auto 50px auto;
  align-items: center;
}

.gold-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;   
  margin: 60px auto 60px auto;
}

.silver-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;   
  margin: 60px auto 60px auto;
}

.media-block {
  margin-left: 150px;
}

.foreign-block {
  margin-right: 150px;
}

.organiser-block {
  margin-left: 300px;
}

.memberof-block {
  margin-right: 300px;
}

.sponsor-row {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 60px auto 60px auto;
}

.sponsor-row div {
  flex: 1 1 50%;
}

.silver-title,
.organiser-title,
.memberof-title {
  font-size: 20px;
  color: #000000e9;
  text-align: center;
  font-family: 'orbitron', serif;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0px;
  line-height: 0px;
  text-align: center;
}

.media-title,
.foreign-title {
  font-size: 20px;
  color: #000000e9;
  text-align: center;
  font-family: 'orbitron', serif;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 0px;
  line-height: 0px;
  text-align: center;
}

.platinum-title {
  font-size: 30px;
  color: #000000e9;
  text-align: center;
  font-family: 'orbitron', serif;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0px;
  line-height: 0px;
}

.gold-title {
  font-size: 25px;
  color: #000000e9;
  text-align: center;
  font-family: 'orbitron', serif;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0px;
  line-height: 0px;
}

/* Sponsor Images - decreasing size progressively */
.platinum {
  max-width: 75%;
  object-fit: contain;
  filter: brightness(0); 
}

.gold {
  max-width: 65%;  
  object-fit: contain;
}

.silver {
  max-width: 80%;  
  height: auto;
  object-fit: contain;
}
.media{
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.foreign {
  max-width: 100%;  
  height: auto;
  object-fit: contain;
  align-items: left;
}

.organiser {
  max-width: 100%;  /* smallest */
  height: auto;
  object-fit: contain;
}

.memberof {
  max-width: 100%;  /* smallest */
  height: auto;
  object-fit: contain;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .sponsor-row {
    flex-direction: column;
    gap: 30px;
  }
  
  .platinum, .gold, .silver, .media, .foreign, .organiser {
    max-width: 80%;
  }
}
