.breadcrumbs {
    margin-top: 100px;
    font-size: 14px;
    font-family:"Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  
  .breadcrumb-link {
    color: #0151a5;
    text-decoration: none;
  }
  
  .breadcrumb-link:hover {
    text-decoration: underline;
  }
  
  .separator {
    margin: 0 5px;
    color: #282525;
  }
  
  .current {
    color: #0151a5;
    font-weight: 500;
  }
  