.exhibitorloggedin-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: rgb(11, 11, 11);
  padding: 10px 20px;
  z-index: 1000;

    display: flex;               
  align-items: center;          
  justify-content: space-between;
}

/* Logo */
.exhibitorloggedin-logo-image {
  position: relative;
  height: 75px;
  justify-content: flex-start;
  width: auto;
  object-fit: contain;
}

/* Right Menu */
.exhibitorloggedin-navbar .exhibitorloggedin-navbar-right {
  display: flex;
  flex-direction: row;
}

.exhibitorloggedin-navbar .exhibitorloggedin-menu-wrapper {
  position: relative;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exhibitorloggedin-navbar .exhibitorloggedin-menu-list {
  position: relative;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  height: 100px;
  align-items: center;
}

.exhibitorloggedin-navbar .exhibitorloggedin-menu-list li {
  position: relative;
  z-index: 1;
}

.exhibitorloggedin-navbar .exhibitorloggedin-menu-list li a,
.exhibitorloggedin-navbar .exhibitorloggedin-menu-list li Link {
  color: rgb(4, 14, 48);
  text-decoration: none;
  padding: 10px 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  z-index: 1;
  position: relative;
  transition: color 0.3s ease;
}

.exhibitorloggedin-navbar .exhibitorloggedin-menu-list li:hover a {
  color: rgb(40, 72, 176);
  z-index: 2;
}

.exhibitorloggedin-hover-bg {
  position: absolute;
  /* top: 50%; */
  left: 0;
  height: 50%;
  background-color: rgb(238, 238, 238);
  z-index: 0;
  transition: all 0.3s ease;
  pointer-events: none;

}

/* Active menu item text color */
.exhibitorloggedin-navbar .exhibitorloggedin-menu-list li.active > a,
.exhibitorloggedin-navbar .exhibitorloggedin-menu-list li.active > a:visited,
.exhibitorloggedin-navbar .exhibitorloggedin-menu-list li.active > .link {
  color: rgb(12, 49, 137);
}

/* Hover background widths for 7 menu items */
.exhibitorloggedin-navbar .exhibitorloggedin-menu-list li:nth-child(1):hover ~ .exhibitorloggedin-hover-bg { left: 0px; width: 150px; }
.exhibitorloggedin-navbar .exhibitorloggedin-menu-list li:nth-child(2):hover ~ .exhibitorloggedin-hover-bg { left: 165px; width: 120px; }
.exhibitorloggedin-navbar .exhibitorloggedin-menu-list li:nth-child(3):hover ~ .exhibitorloggedin-hover-bg { left: 310px; width: 200px; }
.exhibitorloggedin-navbar .exhibitorloggedin-menu-list li:nth-child(4):hover ~ .exhibitorloggedin-hover-bg { left: 540px; width: 130px; }
.exhibitorloggedin-navbar .exhibitorloggedin-menu-list li:nth-child(5):hover ~ .exhibitorloggedin-hover-bg { left: 690px; width: 220px; }
.exhibitorloggedin-navbar .exhibitorloggedin-menu-list li:nth-child(6):hover ~ .exhibitorloggedin-hover-bg { left: 930px; width: 70px; }
/* .exhibitorloggedin-navbar .exhibitorloggedin-menu-list li:nth-child(7):hover ~ .exhibitorloggedin-hover-bg { left: 890px; width: 200px; } */

/* Right side buttons */
.exhibitorloggedin-navbar .exhibitorloggedin-navbar-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.exhibitorloggedin-navbar .exhibitorloggedin-big-button {
  padding: 10px 15px;
  font-size: 14px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  white-space: normal;
  width: 140px;
  text-align: center;
}

.exhibitorloggedin-navbar .exhibitorloggedin-big-button:hover {
  background-color: #13267c;
}
