.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: rgb(11, 11, 11);
  padding: 10px 20px;
  z-index: 1000;
}
  
  
  .logo-image {
    position: relative;
    height: 75px;
    justify-content: flex-start;
    width: auto;
    object-fit: contain;
  }
  
  
  .navbar-right {
    display: flex;
    flex-direction: row;
  }
  .menu-wrapper {
    position: relative;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
  
  .menu-list {
    position: relative;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    height: 100px;
    align-items: center;
  }
  
  .menu-list li {
    position: relative;
    z-index: 1;
  }
  
  .menu-list li a, .menu-list li Link {
    color: rgb(4, 14, 48);
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    z-index: 1;
    position: relative;
    transition: color 0.3s ease;
  }
  
  
  .menu-list li:hover a {
    color: rgb(40, 72, 176);
    z-index: 2;
  }

  .hover-bg {
    position: absolute;
    top: 50;
    left: 0;
    height: 50%;
    background-color: rgb(238, 238, 238);
    z-index: 0;
    transition: all 0.3s ease;
    pointer-events: none;   
  }

  
/* Active menu item text color */
.menu-list li.active > a,
.menu-list li.active > a:visited,
.menu-list li.active > .link {
  color: rgb(12, 49, 137);
}


  
  .menu-list li:nth-child(1):hover ~ .hover-bg { left: 0px; width: 90px; }
  .menu-list li:nth-child(2):hover ~ .hover-bg { left: 95px; width: 100px; }
  .menu-list li:nth-child(3):hover ~ .hover-bg { left: 200px; width: 150px; }
  .menu-list li:nth-child(4):hover ~ .hover-bg { left: 350px; width: 150px; }
  .menu-list li:nth-child(5):hover ~ .hover-bg { left: 500px; width: 90px; }
  .menu-list li:nth-child(6):hover ~ .hover-bg { left: 590px; width: 80px; }
  .menu-list li:nth-child(7):hover ~ .hover-bg { left: 670px; width: 120px; }
   
  
  .dropdown {
    position: relative;
    }
    
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    min-width: 180px;
    z-index: 10;
    border: none;
    background-color: rgb(238, 238, 238);
    border-radius: 0px;
    padding: 0px;
 }
  
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  
  .dropdown-menu li a {
    color: #000;
    font-family: "Quicksand", sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
  }
  
  .dropdown-menu li a:hover {
    background-color: #dbdada;
    color: rgb(4, 14, 48);
  }
  
  .navbar-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  
  .big-button {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    white-space: normal;
    width: 140px;
    text-align: center;
  }
  
  .big-button:hover {
    background-color: #13267c;
  } 
  