.main-tourist-content-wrapper {
  height: 100vh; 
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  margin-top: 40px;
}

.tourist-container {
  overflow: visible;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto 0px auto;
}

.intro-text-left-right-wrapper {
  margin-top: 50px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  
}

.intro-text {
  text-align: left;
  font-family: "Playfair Display", serif;
  color: #0e082e;
  
}

.line-one {
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: -1px;
  font-weight: 300;
  padding: 0px 0px 2px 15px;
  background-color:  #0f2469;
  width: 130px;
  color: white;

}

.line-two {
  position: relative;
  top: -15px;
  font-size: 75px;
  letter-spacing: -1px;
  transform: rotate(-5deg);
  margin: 0px;
  font-family: "Dancing Script", cursive;
  font-weight: 50;
  color: #0f2469;
}

.line-two span {
  font-size: 125px;
  letter-spacing: -1px;
  transform: rotate(-5deg);
  margin: 0px;
  font-family: "Dancing Script", cursive;
  font-weight: 50;
  line-height: 80px;
}

.line-three {
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: -1px;
  font-weight: 300;
  color: #0f2469;
}


.intro-text-right {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
 
}

.place-title:hover {
  color: red;
}


.places-grid {
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  
}

.places-heading {
  text-transform: uppercase;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: -0.5px;
  line-height: 30px;
  margin-left: 38px;
  margin-bottom: 20px;
}

.place-title {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  letter-spacing: -0.5px;
  line-height: 30px;
}

.tourist-slider-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 20px auto 200px auto;
  overflow: visible; /* Allows buttons to be outside .tourist-slider */
}

.tourist-slider {
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 600px;
  position: relative;
}

.tourist-slider-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: all 1s ease-in-out;
  opacity: 0;
  z-index: 1;
}

.slide.active {
  left: 0;
  opacity: 1;
  z-index: 2;
}

.slide .info {
  background-color: rgba(255, 255, 255, 0.9);
  color: #100649;
  padding: 20px 20px;
  position: absolute;
  top: 80px;
  left: 40px;
  text-align: center;
  width: 300px;
  max-width: 100%;
  transition: all 0.5s ease-in-out 0.8s;
  box-shadow: 0px 7px 10px 0px rgba(51, 51, 51, 0.2);
}

.slide.active .info {
  opacity: 1;
  transform: translateY(-40px);
}

.slide .info h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  letter-spacing: -1px;
}

.slide .info p {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  letter-spacing: -0.5px;
  line-height: 22px;
  margin: 0px;
}

.eraser {
      background-color: #ffffff;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  /* opacity: 0.95; */
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  z-index: 100;
  
}

.eraser.active {
  transform: translateX(-100%);
}


.tourist-buttons-container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none; 
  z-index: 101;
}

#previous,
#next {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: none;
  font-size: 40px;
  pointer-events: all;
  position: absolute;
  transform: translateY(-50%);
  margin: 0px;
  padding: 0px 15px 0px 17px;
}

/* Move buttons further left/right */
#previous {
  left: -30px;  /* Adjusted from default */
}

#next {
  right: -30px;  /* Adjusted from default */
}

#previous:hover,
#next:hover {
color: #e18e08;
}



@media (max-width: 400px) {
  .slide .info {
    top: 100px;
    left: 10px;
  }
}
