.reach-venue-container {
display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1;
    overflow: visible;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 1000px;
    margin: 40px auto 0px auto;
    margin-bottom: 200px;
  
}


.visitor-extra-container {
  margin-top: 40px;
  /* border: 1px solid black; */
  /* padding: 10px; */
  height: auto;
}

.visitor-extra-title {
  /* text-align: center; */
  margin-bottom: 20px;
}

.visitor-extra-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  /* border: 1px solid black; */
  height: auto;
  /* padding: 10px; */
  margin-top: 30px;
}

.visitor-extra-text {
  flex: 1;
 
  padding: 10px;
}

.visitor-extra-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  
}

.visitor-extra-image {
  max-width: 400px;
  height: auto;
  
}
